<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div id="Graph" style="border: 1px solid #000; float:left"></div>
	<div style="float:left;">
		<div id="Options" style="margin-left:10px; border: 1px solid #000; padding:10px;">
			<div style="margin:2px">Arms: <input id="datapointsInput" class="INPUT" value="80" style="width:50px"></input></div>
			<div style="margin:2px">Trials: <input id="trialsInput" class="INPUT" value="15" style="width:50px"></input></div><br>

			<form id="functionSelector" style="float:left;">
				<div>Functions:</div>
				<input class="function" name = "function" type="radio" onmousedown="selectFunction(this)" value="pos_linear" checked> Linear<br>
				<input class="function" name = "function" type="radio" onmousedown="selectFunction(this)" value="neg_quad"> Quadratic<br>
				<input class="function" name = "function" type="radio" onmousedown="selectFunction(this)" value="sinc_compressed"> Sinc<br>
			</form><br><br>
			
			<div id = "main">
				{% block main %}{% endblock %}
			</div>

			<button id="nextButton" onmousedown="next()">Next</button>

			<button id="resetButton" style="margin-left:30px" onmousedown="reset()">Reset</button>
		</div>

		<div id="Info" style="visibility:hidden; margin:10px 0 0 10px; border: 1px solid #000; padding:10px">
			<div id="remainingTrialsOutput">Remaining Trials: </div>
		</div>
	</div>

</body>


<script>
	var observedX = "[]";
	var observedY = "[]";
	
	var selectedFunction = "pos_linear";
	var remainingTrials = undefined;

	function selectFunction(e){
		selectedFunction = e.value;
	}

	function plot(html){
		var start = html.indexOf('<script>') + 8;
		Graph.innerHTML = html.slice(0, start-8);
		var end = html.indexOf('script>', start)-2;
		eval(html.slice(start, end));
	}

	function next(){
		if(remainingTrials == undefined){
			remainingTrials = parseInt(trialsInput.value);
		}

		data = {
			"action":"next",
			"datapoints":datapointsInput.value,
			"trials":trialsInput.value,
			"remainingTrials":remainingTrials,
			"function":selectedFunction,
			"observedX":("\"[" + observedX + "]\"").replace("[]", ""),
			"observedY":("\"[" + observedY + "]\"").replace("[]", "")
		}

		Info.style.visibility = "visible";
		var inputs = document.getElementsByClassName("INPUT");
		for(var i=0; i<inputs.length; i++){
			inputs[i].disabled = true;
			data[inputs[i].getAttribute("name")] = inputs[i].value;
 		}
 		var functions = document.getElementsByClassName("functions");
 		for(var i=0; i<functions.length; i++){functions[i].disabled = true;}

		nextButton.disabled = true;
		resetButton.disabled = true;

		console.log(data);

		$.ajax({
			method:"GET",
			url:"/{{strategy}}",
			data:data,
			success:function(resp, data){
				var response = JSON.parse(resp);
				observedX = response['observedX'];
				observedY = response['observedY'];

				var html = response['plot'];
				plot(html);

				remainingTrials -= 1;
				remainingTrialsOutput.innerHTML = "Remaining Trials: " + remainingTrials;
				resetButton.disabled = false;
				if(remainingTrials > 0){
					nextButton.disabled = false;
				}
			},
		});
	}

	function reset(){
		Info.style.visibility = "hidden";
		remainingTrials = undefined

		var inputs = document.getElementsByClassName("INPUT");
		for(var i=0; i<inputs.length; i++){inputs[i].disabled = false;}
		var functions = document.getElementsByClassName("functions");
 		for(var i=0; i<functions.length; i++){functions[i].disabled = true;}
		nextButton.disabled = false;

		$.ajax({
			method:"GET",
			url:"/{{strategy}}",
			data:{"action":"reset"},
			success:function(resp, data){
				Graph.innerHTML = "";
				observedX = "[]";
				observedY = "[]";
			}
		});
	}


</script>