<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<!--
enter simulation parameters (number of arms, number of trials)
-->
<div id="simParams">
	<div>Arms: <input name = "datapoints" id = "datapoints" class = "param" value = "80"></input></div>
	<div>Trials: <input name = "trials" id = "trials" class = "param" value = "15"></input></div>
</div>


<form id="rewardSelector">
	<div>Reward Function:</div>
	<input class="reward" name = "reward" type="radio" onmousedown="selectReward(this)" value="pos_linear" checked> Linear<br>
	<input class="reward" name = "reward" type="radio" onmousedown="selectReward(this)" value="neg_quad"> Quadratic<br>
	<input class="reward" name = "reward" type="radio" onmousedown="selectReward(this)" value="sinc_compressed"> Sinc<br>
</form>

<!--
select acquisition function
-->
<form id = "acqSelector">
	<div>Acquisition Function</div>
	<input id = "ucb" class="function" name = "acq" type = "radio" onmousedown="selectFunction(this, 'acqParamsSelector')" value = "ucb"> UCB<br>
	<input id = "mes" class="function" name = "acq" type = "radio" onmousedown="selectFunction(this, 'acqParamsSelector')" value = "mes"> MES<br>
</form>


<!--
enter acquisition function parameter values
-->
<div id = "ucbParams" class = "acqParamsSelector" style = "display:none">
	<div>Explore Preference: <input class="param" name="explorePreference" id="explorePreference" value="1"></div>
</div>

<div id="mesParams" class = "acqParamsSelector" style="display:none">
	<div>CDF Precision: <input class = "param" name = "cdfPrecision" id = "cdfPrecision" value = ".001"></div>
	<div>Gumbel Samples: <input class = "param" name = "gumbelSamples" id = "gumbelSamples" value = "1000"></div>
</div>


<!--
select decision function
-->
<form id = "decSelector">
	<div>Decision Function</div>
	<input id = "deterministic" class="function" name = "dec" type = "radio" onmousedown="selectFunction(this, 'decParamsSelector')" value = "deterministic"> Deterministic<br>
	<input id = "softmax" class="function" name = "dec" type = "radio" onmousedown="selectFunction(this, 'decParamsSelector')" value = "softmax"> Softmax<br>
</form>


<!--
enter decision function parameter values
-->
<div id = "softmaxParams" class = "decParamsSelector" style = "display:none">
	<div>Temperature: <input class="param" name="temperature" id="temperature" value="1"></div>
</div>


<!--
buttons for navigating the simulation
-->
<div id = "buttons">
	<button id = "nextButton" onmousedown = "next()" disabled>Next</button>
	<button id = "resetButton" onmousedown = "reset()" disabled>Reset</button>
</div>


<!--
containers for plots
-->
<div id="historyPlot"></div>
<div id="utilityPlot"></div>


<script>
	
	var upper_bound = {{upper_bound}};
	var acqSelected = false;
	var decSelected = false;
	var acqGetsDec = {"ucb": true, "mes": true};
	var selectedReward = "pos_linear";
	var observed_x = [];
	var observed_y = [];
	var trialsPassed = 0;


	function selectReward(e){
		selectedReward = e.value;
	}


	function selectFunction(e, className){
		var acq = e.value;
		var acqParamsDivs = document.getElementsByClassName(className);
		for (var i = 0; i < acqParamsDivs.length; i++){
			acqParamsDivs[i].style.display = 'None';
		};

		var paramsDiv = document.getElementById(acq + "Params")
		if (paramsDiv){
			paramsDiv.style.display = 'block';
		}

		if (className == 'acqParamsSelector'){
			acqSelected = true;
		} else if (className == 'decParamsSelector'){
			decSelected = true;
		};

		if (acqSelected && (decSelected || !acqGetsDec[acq])){
			nextButton.disabled = false;
			resetButton.disabled = false;
		};
	};


	function next(){
	
		data = {
			"action":"next",
			"datapoints":datapoints.value,
			"trials":trials.value,
			"trialsPassed":trialsPassed,
			"rewardFunction":selectedReward,
			"observed_x":observed_x.toString(),
			"observed_y":observed_y.toString()
		};
		var functions = document.getElementsByClassName("function");
 		for(var i = 0; i < functions.length; i++){
 			if (functions[i].checked){
 				data[functions[i].getAttribute("name")] = functions[i].value;
 			};
 		};
		var params = document.getElementsByClassName("param");
		for(var i = 0; i < params.length; i++){
			if (params[i].parentNode.parentNode.style.display != 'none'){
				data[params[i].getAttribute("name")] = params[i].value;
			};
 		};
 		
 		$.ajax({
			method:"GET",
			url:"/",
			data:data,
			success:function(resp, data){
				var response = JSON.parse(resp);
				var rewardFunction = response['function'];
				var next_x = response['next_x'];
				var next_y = response['next_y'];
				var params = response['params'];
				var prob = response['prob'];
				plot(rewardFunction, next_x, params, prob);

				console.log(observed_x);
				observed_x.push(next_x);
				observed_y.push(next_y);

				trialsPassed += 1;
				resetButton.disabled = false;
				if(trialsPassed < trials.value){
					nextButton.disabled = false;
				}
			},
		});
	};


	function plot(rewardFunction, next_x, params, prob){

		indexRewardFunction = [];
		for (var i = 0; i < rewardFunction.length; i++){
			if (i == next_x){
				indexRewardFunction.push({marker:{fillColor:'#FF6666'}, x: i + 1 , y: rewardFunction[i], color:'#FF6666'})
			} else if (observed_x.indexOf(i) > -1){
				indexRewardFunction.push({marker:{fillColor:'#6966FF'}, x: i + 1 , y: rewardFunction[i], color:'#6966FF'})
			} else {
				indexRewardFunction.push([i + 1, rewardFunction[i]]);
			}
		}


		var historyXAxis = [{
			title: {
				text: 'Arm'
			}
		}]


		var historyYAxis = [{
			title: {
				text: 'Reward'
			},
			min: 0,
			max: upper_bound
		}]

		var historySeries = [{
			animation: false,
			name: 'Reward',
			data: indexRewardFunction,
			color: '#66FF6B',
			marker: {
				symbol: 'circle' 
			}},
			{name: 'Previous Actions',
			color: '#6966FF',
			marker: {
				symbol: 'circle' 
			}},
			{name: 'Next Action',
			color: '#FF6666'
		}];

		if ('mean' in params){
			var indexMean = [];
			var indexRanges = [];
			var mean = params['mean'];
			var std = params['std'];

			for (var i = 0; i < mean.length; i++){
				indexMean.push([i + 1, mean[i]]);
				indexRanges.push([i + 1, mean[i] - std[i], mean[i] + std[i]]);
			}

			historySeries.push({
				animation: false,
				name: 'Expected Reward',
				data: indexMean,
				color: '#FF6666',
				marker: {
            	enabled: false
        		}
			});

			historySeries.push({
				animation: false,
				name: 'Confidence Bounds',
				data: indexRanges,
				color: '#FF6666',
				type: 'arearange',
				lineWidth: 0,
				fillOpacity: 0.3,
				showInLegend: false,
				marker: {
            	enabled: false
        		}
			});

			historyTitle = 'True/Expected Reward Function'
		} else {
			historyTitle = 'True/Expected Reward Function'
		}


		if('pymax' in params){
			var indexPymax = [];
			var pymax = params['pymax'];
			console.log(pymax)
			var step  = upper_bound / pymax.length;
			for (var i = 0; i < pymax.length; i++){
				indexPymax.push([pymax[i] * 100, (i + 1) * step])
			}

			historyXAxis.push({
				title: {
					text: 'p(y = y*)e2'
				}
			});

			historySeries.push({
				animation: false,
				name: 'p(y = y*)',
				data: indexPymax
			})
		}


		var historyOptions = {
			title : {
				text: historyTitle
			},
			xAxis: historyXAxis,
			yAxis: historyYAxis,
			credits: false,
			tooltip: {
        		crosshairs: true,
        		shared: true,
    		},

			series: historySeries
		};

		Highcharts.chart('historyPlot', historyOptions);


		var utility = params['utility'];
		var indexUtility = [];
		var indexProb = [];
		console.log(prob)
		for (var i = 0; i < utility.length; i++){
			indexUtility.push([i, utility[i]]);
			indexProb.push([i, prob[i]])
		}

		var utilityXAxis = [{
			title: {
				text: 'Arm'
			}
		}]


		var utilityYAxis = [{
			title: {
				text: 'Utility'
			}
		}, {
			title: {
				text: 'p(next a = a)',
				min: 0,
				max: 1
			}
		}]

		var utilitySeries = [{
			animation: false,
			name: 'Utility',
			data: indexUtility,
			color: '#66FF6B'
		},
			{name: 'p(next a = a)',
			yAxis: 1,
			data: indexProb,
			color: '#6966FF'
		}];

		var utilityOptions = {
			title: {
				text: 'Utility/Probability of Next Action'
			},
			xAxis: utilityXAxis,
			yAxis: utilityYAxis,
			credits: false,
			tooltip: {
        		crosshairs: true,
        		shared: true,
    		},

			series: utilitySeries
		};

		Highcharts.chart('utilityPlot', utilityOptions);

	}


</script>