<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<div id = "participant_table" class = "container">
	<table id = "table" class="table table-striped text-left">
	  <thead class = "thead-dark">
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">function</th>
	      <th scope="col">goal</th>
	      <th scope="col">score</th>
	      <th scope="col">best model</th>
	      <th scope="col">parameters</th>
	      <th scope="col">pseudo r2</th>
	    </tr>
	  </thead>
	</table>
</div>

<script type="text/javascript">

createTable({{ids|safe}}, {{functions|safe}}, {{goals|safe}}, {{scores|safe}}, {{max_scores|safe}}, {{model_name|safe}}, {{params|safe}}, {{pseudo_r2|safe}});
	
function createTable(ids, functions, goals, scores, max_scores, model_name, params, pseudo_r2){

	console.log(pseudo_r2)
	var table = document.getElementById("table");
	var body = document.createElement("tbody");
	for (var i = 0; i < ids.length; i++){
		var row = body.insertRow(-1);
		row.participant_id = ids[i];
		row.onclick = function () {loadParticipant(this.participant_id)};
		var id_cell = row.insertCell(-1);
		id_cell.innerHTML = ids[i];
		var function_cell = row.insertCell(-1);
		function_cell.innerHTML = functions[i];
		var goal_cell = row.insertCell(-1);
		goal_cell.innerHTML = goals[i];
		var score_cell = row.insertCell(-1);
		score_cell.innerHTML = scores[i];
		var max_score_cell = row.insertCell(-1);
		max_score_cell.innerHTML = max_scores[i];
		var model_cell = row.insertCell(-1);
		model_cell.innerHTML = model_name[i];
		var params_cell = row.insertCell(-1);
		params_cell.innerHTML = params[i];
		var pseudo_r2_cell = row.insertCell(-1);
		pseudo_r2_cell.innerHTML = pseudo_r2[i];
	}
	table.appendChild(body);
}


function loadParticipant(participant_id){

	window.location = '/' + participant_id
}

</script>

</html>