<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css"
    rel="stylesheet" type="text/css">
	<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.css"
    rel="stylesheet" type="text/css">
	<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.16.min.css"
    rel="stylesheet" type="text/css">

    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>

<body>
    <div id = "controls" class = "container">
        <div class = "row">
            <button id = "back" class="btn" onclick = "back()" disabled>Previous</button>
            <div id = "trialCounter" class = "card-header">Trial 1 of {{ntrials}}</div>
            <button id = "next" class="btn" onclick = "next()">Next</button>
        </div>
    </div>
    <div id = "plots1" class = "container">
        <div class = "row">
            <div id = "functionPlot"></div>
            <div id = "utilityPlot"></div>
        </div>
    </div>
    <div id = "plots2" class = "container">
        <div class = "row">
            <div id = "likelihoodPlot"></div>
            <div class = "column">

                <div>
                    <table class = "table table-sm table-striped text-left">
                        <tbody>
                            <tr>
                                <th scope="row">Max Score</th>
                                <td>{{max_score}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Score</th>
                                <td id = "score"></td>
                            </tr>
                            <tr>
                                <th scope="row">$P(a_{t+1} | M_{rand})$</th>
                                <td id = "randomll"></td>
                            </tr>
                            <tr>
                                <th scope="row">$P(a_{1:t+1} | M_{rand})$</th>
                                <td id = "randomjll"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id = "tableDiv">
                    <table id = "table" class = "table table-sm table-striped text-left">
                      <thead class = "thead-dark">
                        <tr class = "headRow">
                          <th scope="col"></th>
                          <th scope="col">$f_{A}$</th>
                          <th scope="col">$\theta_{A}$</th>
                          <th scope="col">$f_{D}$</th>
                          <th scope="col">$\theta_{D}$</th>
                          <th scope="col">$P(a_{t+1})$</th>
                          <th scope="col">$P(a_{1:t+1})$</th>
                          <th scope="col">$AIC$</th>
                          <th scope="col">$R^{2}$</th>
                        </tr>
                      </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>


<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

var trial = 1
build_table({{acquisition|safe}}, {{acq_params|safe}}, {{decision|safe}}, {{dec_params|safe}}, {{colormap|safe}})
render_plot(trial - 1);

function render_plot(trial){

    var data = {'trial': trial}
    $.ajax({
        method:"GET",
        url:"/{{ID}}",
        data: data,
        success:function(resp, data){
            var response = JSON.parse(resp);


            document.getElementById("utilityPlot").innerHTML = response['utility_div'];
            document.getElementById("likelihoodPlot").innerHTML = response['likelihood_div'];

            run_script(response['utility_script']);
            run_script(response['likelihood_script']);

            if (response['gp_div'] !== null){
                document.getElementById("functionPlot").innerHTML = response['gp_div'];
                run_script(response['gp_script']);
            }

            for (var i = 0; i < response['likelihood'].length; i++){
                document.getElementById('logLike' + i).innerHTML = response['likelihood'][i].toLocaleString();
                document.getElementById('jointLogLike' + i).innerHTML = response['joint_log_likelihood'][i].toLocaleString();
                document.getElementById('aic' + i).innerHTML = response['AIC'][i].toLocaleString();
                document.getElementById('r2' + i).innerHTML = response['pseudo_r2'][i].toLocaleString();
            }
            document.getElementById('score').innerHTML = response['score'].toLocaleString();
            document.getElementById('randomll').innerHTML = response['random_likelihood'].toLocaleString();
            document.getElementById('randomjll').innerHTML = response['random_joint_log_likelihood'].toLocaleString();




        },
    });
}


function build_table(acquisition, acq_params, decision, dec_params, colormap){

    var table = document.getElementById("table");
    var body = document.createElement("tbody");
    for (var i = 0; i < acquisition.length; i++){

        var row = body.insertRow(-1);
        var colorCell = row.insertCell(-1);
        colorCell.innerHTML =  "<span style='background-color:{};color:{}'>......</span>".replace(/{}/g, colormap[i]);
        var acqCell = row.insertCell(-1);
        acqCell.innerHTML = acquisition[i];
        var acqParamsCell = row.insertCell(-1);
        acqParamsCell.innerHTML = acq_params[i];
        var decCell = row.insertCell(-1);
        decCell.innerHTML = decision[i];
        var decParamsCell = row.insertCell(-1);
        decParamsCell.innerHTML = dec_params[i];
        var logLikeCell = row.insertCell(-1);
        logLikeCell.id = "logLike" + i;
        var jointLogLikeCell = row.insertCell(-1);
        jointLogLikeCell.id = "jointLogLike" + i;
        var aic = row.insertCell(-1);
        aic.id = "aic" + i;
        var r2 = row.insertCell(-1);
        r2.id = "r2" + i;
    }
    table.appendChild(body);


}


function run_script(script){

    script = script.replace('<script type="text/javascript">', '');
    script = script.replace('<\/script>', '');
    eval(script);
}


function next(){

    trial += 1;
    if (trial == {{ntrials}}){
        document.getElementById("next").disabled = true;
    }
    document.getElementById("back").disabled = false;
    document.getElementById("trialCounter").innerHTML = "Trial " + trial + " of {{ntrials}}"
    render_plot(trial - 1);
}


function back(){

    trial -= 1;
    if (trial == 1){
        document.getElementById("back").disabled = true;
    }
    document.getElementById("next").disabled = false;
    document.getElementById("trialCounter").innerHTML = "Trial " + trial + " of {{ntrials}}"
    render_plot(trial - 1)
}


</script>



</html>
