<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<form method="POST">
<input type="hidden" value="{{goal}}" name="goal">
<input type="hidden" value="{{function_name}}" name="function_name">
<input type="hidden" value="exit" name="index">
<input type="hidden" value="{{test_response}}" name="test_response">
<input type="hidden" value="{{final_score}}" name="final_score">
<div>
What is your age? Choose "NA" if you prefer not to say.
<br>
<select name="age" class="age"></select>
</div>
<div>
What was the goal of the game?
<br>
<textarea name="describe_goal"></textarea>
</div>
<div>
What was your strategy in playing the game?
<br>
<textarea name="describe_strategy"></textarea>
</div>
<div>
Was anything unclear or confusing about the game?
<br>
<textarea name="describe_unclear"></textarea>
</div>
<input type="submit" value="Submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    var $select = $(".age");
    for (i=18;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
    $select.append('<option>NA</option>')
});
</script>
</html>