<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<form id="form" method="POST">
	<input type="hidden" value="{{goal}}" name="goal">
	<input type="hidden" value="{{function_name}}" name="function_name">
    <input type="hidden" value="1" name="index">
</form>
<div>
<h1>Instructions</h1>
<div>
  This is a game where you are trying to get as many points as possible, by <b>finding the vertical bar with the greatest height</b>.
  <p>At the beginning of the game, the height of each bar is hidden.
  <br>Once you select a bar, its height will be revealed.
  <br>You select a bar by clicking on it twice. The first time you click, it will be outlined in red.
  <br>Click again to submit your selection. You will earn points equal to its height, added to your total score.
  <br><b>You can select the same bar multiple times</b>
  <p>The picture below shows an example with three bars.
  <p>The player first selected the middle bar, which would be worth 100 points.
  <br>Next, the player selected the right bar, which would be worth 200 points.
  <br>Next, the player selected the left bar. It is not the highest bar, so the score does not change.
  <br>Your score is based <b>only on the highest bar that you select.</b>
</div>
<br>

<div class="container">
<p>Score: 0 </p>
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>
<div class="container">
<p>Score: 0 </p>
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar focus" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>
<div class="container">
<p>Score: 100 </p>
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar focus selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>
<div class="container">
<p>Score: 100 </p>
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar focus" height="250" width="15"></canvas>
</div>
<div class="container">
<p>Score: 200 </p>
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar focus selected" height="250" width="15"></canvas>
</div>

<div class="container">
<p>Score: 200 </p>
<canvas id="bar1" class="bar focus" height="250" width="15"></canvas>
<canvas id="bar2" class="bar selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar selected" height="250" width="15"></canvas>
</div>
<div class="container">
<p>Score: 200 </p>
<canvas id="bar1" class="bar focus selected" height="250" width="15"></canvas>
<canvas id="bar2" class="bar selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar selected" height="250" width="15"></canvas>
</div>

<br>
<br>
<div>
  You will have {{trials}} chances to select bars and try to find the highest one.
  <p>If you score in the top 10%, you will earn a bonus equal to the base payment for this HIT (If there are fewer than ten people, the top scorer will receive a bonus).
  <br>If your performance is worse than it would be by random guessing, your HIT may be rejected.
</div>
<br>
<div>
Press Space to begin
</div>

<script type="text/javascript" src="../../static/init_bars.js"></script>
<script type="text/javascript" src="../../static/continue.js"></script>
<script>
init_bars([100,100,100,200,100,200,50,100,200])
</script>
<link rel="stylesheet" type="text/css" href="../../static/bar_style.css">
</html>