<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">

<body>
<div id="ui">
</div>
<br>
<div id="help">
Click one of the bars below once to highlight it. Click the same bar again to reveal its value and add it to your total score.
</div>
<br>
<div id="barContainer">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/init_bars.js"></script>
<script>

	for (var i=0; i<persistantData['nbars']; i++){
		var tmp = document.createElement('canvas')
		tmp.width=persistantData['bar_width']
		tmp.height=persistantData['bar_height']
		tmp.id='bar'+i
		tmp.className='bar'
		tmp.addEventListener('click',Click)
		barContainer.appendChild(tmp)
	}


	init_bars([])
	var trials=persistantData['trials']
	var response=[]
	var response_time=[]
	var totalScore=0
	var start_time=Date.now()

	document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br>Total Score: "+Math.round(totalScore)

	function Click(event){
		var bar = event.target
		/*if(bar.className.indexOf(" active") < 0){*/
		   	if(bar.className.indexOf(" focus") > 0){
		   		document.getElementById("help").innerHTML="Click any of the non-highlighted bars below once to highlight it. Click the same bar again to reveal its value and add it to your total score. Clicking the bar that is currently highlighted once will add its value to your total score."
		   		bar.className += " active"
		   		var x=parseInt(bar.id.substring(3))
		   		var score=persistantData['function'][x]
		        Move(bar.height-score);
		        Submit(x,score);

		    }else{
		        bars = document.getElementsByClassName("focus");
		        document.getElementById("help").innerHTML="Click the highlighted bar again to reveal its value and add it to your total score, or click another bar to highlight it."
		        for(var i=0; i<bars.length; i++){
		            bars[i].className = bars[i].className.replace(" focus", "")
		        }
		        bar.className += " focus";
			}
		/*}*/
	}

	function Move(ypos){
	    bar = document.getElementsByClassName("focus")[0];
	    ctx = bar.getContext("2d");
	    ctx.fillStyle = "black"
	    ctx.clearRect(0, 0, bar.width, bar.height);
	    ctx.fillRect(0, ypos, bar.width, bar.height);
	}

	function Submit(x,score){
		response.push(x)
		response_time.push(Date.now())
		totalScore+=score
		trials-=1
		document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br>Total Score: "+Math.round(totalScore)
		if(trials<=0){
			results[currentGoalIndex]['response']=response
			results[currentGoalIndex]['response_time']=response_time
			results[currentGoalIndex]['total_score']=totalScore
			nextPage()
		}
	}
	
</script>
<link rel="stylesheet" type="text/css" href="../static/bar_style.css">

</body>
</html>