<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<form id="form" method="POST">
	<input type="hidden" value="{{goal}}" name="goal">
	<input type="hidden" value="{{function_name}}" name="function_name">
    <input type="hidden" value="exit" name="index">
    <input type="hidden" id="predict_response" name="predict_response">
    <input type="hidden" id="predict_start_time" name="predict_start_time">
    <input type="hidden" id="predict_response_time" name="predict_response_time">
  	<input type="hidden" id="final_score" name="final_score">
    <input type="hidden" value="[{{phase1_response}}]" name="test_response">
    <input type="hidden" value="{{test_response_time}}" id="test_response_time" name="test_response_time">
    <input type="hidden" value="{{test_start_time}}" id="test_start_time" name="test_start_time">
</form>
<body>
<div id="ui">
Trials Remaining: {{trails}}
<br>
Total Score: 0
</div>
<br>
<div id="help">
Click the highlighted bar at the height that you think corresponds with its value. Once you are satisfied with your answer, press the space bar to proceed to the next trial. The actual score will be revealed in red. Your total score will be increased relative to the difference between the score you chose and the actual score.
</div>
<br>
<div id="barContainer">
{%for i in range(nbars)%}
<canvas id="bar{{i}}" class="bar" height="{{bar_height}}" width="{{bar_width}}" onmousedown="Click(event)"></canvas>
{% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/init_bars.js"></script>
<script>

	var phase1_response=[{{phase1_response}}]
	var trials={{trials}}
	var test_response=[]
	var predict_response_time=[]
	var totalScore=0
	var index=[]

	document.getElementById("predict_start_time").value=Date.now()
	document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br> Total Score: "+0

	var allBars = document.getElementsByClassName("bar")
	for(var i=0; i<allBars.length; i++){
		var ctx = allBars[i].getContext("2d")
		var score={{function}}[i]
		if(phase1_response.indexOf(i) < 0){
			ctx.fillStyle = "grey"
			ctx.fillRect(0, 0, allBars[i].width, allBars[i].height)
			index.push(allBars[i])
		}else{
			console.log(i)
			ctx.fillStyle="red"
			ctx.fillRect(0, allBars[i].height-score, allBars[i].width, allBars[i].height)
		}
	}

	ndex=shuffleArray(index)
	shiftFocus(index[trials-1])

	function shuffleArray(array) {
	    for (var i = array.length - 1; i > 0; i--) {
	        var j = Math.floor(Math.random() * (i + 1));
	        var temp = array[i];
	        array[i] = array[j];
	        array[j] = temp;
	    }
	    return array;
	}

	function shiftFocus(bar){
		bars = document.getElementsByClassName("focus");
		    for(var i=0; i<bars.length; i++){
		        bars[i].className = bars[i].className.replace(" focus", "")
		    }
		bar.className += " focus";
	}

	function Click(event){
        var bar = event.target
        if(bar.className.indexOf(" focus") > 0){
        	var x=parseInt(bar.id.substring(3))
		   	score={{function}}[x]
		   	scoreGuess=bar.height-Math.min(Math.max(0, event.clientY-bar.offsetTop),bar.height)
		   	error=scoreGuess-score
            Move(scoreGuess);
        }
    }

    function Move(scoreGuess){
        bar = document.getElementsByClassName("focus")[0];
        ctx = bar.getContext("2d");
        ctx.clearRect(0, 0, bar.width, bar.height);
        ctx.fillStyle="black"
        ctx.fillRect(0, bar.height-scoreGuess, 15, bar.height);
    }

    function Submit(event){
    	if (event.keyCode==32){
    		trials-=1
    		test_response.push([score,scoreGuess])
    		predict_response_time.push(Date.now())
    		totalScore+=(Math.max.apply(Math, {{function}})-Math.abs(scoreGuess-score))
			document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br> Total Score: "+Math.round(totalScore)
    		if(error>=0){
    			ctx.fillStyle="red"
        		ctx.fillRect(0, bar.height-score, 15, bar.height);
    		}else{
    			ctx.clearRect(0, 0, bar.width, bar.height);
    			ctx.fillStyle="red"
        		ctx.fillRect(0, bar.height-score, 15, bar.height);
        		ctx.fillStyle="black"
        		ctx.fillRect(0, bar.height-scoreGuess, 15, bar.height);
    		}
    	}
    	if (trials==0){
    		document.getElementById("test_response").value=test_response
    		document.getElementById("predict_response_time").value=predict_response_time
    		document.getElementById("final_score").value=totalScore
    		document.getElementById("form").submit()
    	}else{
    		shiftFocus(index[trials-1])
    	}
    }
   	document.addEventListener("keydown", Submit)

</script>
<link rel="stylesheet" type="text/css" href="../static/bar_style.css">

</body>
</html>