<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<body>

<div>
<h1>Information and consent form</h1>

The goal of this study is to understand how people learn about relationships in data.

<p>This experiment does not collect any personally identifying or sensitive information, and you are free to withdraw at any time. If you have any comments or questions, do not hesitate to contact Dr. Christopher Lucas (c.lucas@ed.ac.uk)

<p>In the following screens, you will play a game that involves reading some instructions and making some selections or judgments. At the end, there will be 2-4 short survey questions.

<p>It should only take a few seconds to make each judgment, and the experiment is expected to take fewer than 10 minutes in all. Also, please take note of the following:

  <ul>
  <li>This study may not work with touchscreen devices. If you are using such a device, such as a tablet or smartphone and find it does not work, please return this HIT. We apologize for any inconvenience.</li>
  <li>Once you have submitted a judgment, you will not be able to change it -- please do not use the back or reload buttons during the experiment.</li>
</ul>
<p>To participate, click the button below.
<br>If you do not wish to participate, please close this window and return the HIT.
</div>

<form method="POST">
    <input type="hidden" value="0" name="index">
    <button type="submit">I agree to participate in this study</button>
</form>

</body>
</html>