<html>
<body>

<form method="POST">
    <fieldset id="goal">
      <input type="radio" name="goal" value="max_score" checked> Maximize Score
      <input type="radio" name="goal" value="find_max"> Find Max
      <input type="radio" name="goal" value="min_error"> Minimize Error
    </fieldset>

    <fieldset id="function_name">
      {%for f in function_names%}
        <input type="radio" name="function_name" value={{f}}>{{f}}
      {%endfor%}
    </fieldset>
    <input type="hidden" value="0" name="index">
    <button type="submit">Go</button>
</form>

</body>
<html>