<html>
<body>

<form method="POST">
    <fieldset id="goal">
        <input type="radio" name="goal" value="Maximize Score" checked> Maximize Score
  		<input type="radio" name="goal" value="Find Max"> Find Max
  		<input type="radio" name="goal" value="Minimize Error"> Minimize Error
    </fieldset>

    <fieldset id="function">
        <input type="radio" name="function" value="Positive Linear" checked> Positive Linear
  		<input type="radio" name="function" value="Negative Linear"> Negative Linear
  		<input type="radio" name="function" value="Power"> Power
    </fieldset>
    <input type="hidden" value="test" name="postTag">
    <button type="submit">Go</button>
</form>

</body>
<html>