<html>
<div>
	The following task will consist of a learning phase and a testing phase. In the learning phase you will see a number of grey vertical bars. Each bar will be associated with a score. To reveal the score for one of the grey bar, first select a bar by clicking on it once. On clicking the selected bar a second time, the score associated with that bar will be shown as a new black bar in the place of the grey bar, with the height of the bar indicating the score. This phase will consist of {{train_trials}} trials.
</div>
<div class="container"> 
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>
<div class="container">
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar focus" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>
<div class="container">
<canvas id="bar1" class="bar" height="250" width="15"></canvas>
<canvas id="bar2" class="bar focus selected" height="250" width="15"></canvas>
<canvas id="bar3" class="bar" height="250" width="15"></canvas>
</div>

</html>